<!DOCTYPE html>
<html lang="en">
<% include partials/header.ejs %>
<body id="page-top">
<!-- Navigation-->
<% include partials/nav.ejs %>
<!-- Masthead-->

<header class="contact_us">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="mx-auto my-0 text-uppercase text-white">Contact Fitness Fusion</h2>
                <h4 class="text-white mx-auto mt-2 mb-5">
                    Feel Free To Drop Us A Message

                </h4>
                <a class="btn btn-danger" href="/signup">Sign Up Now</a>
            </div>
        </div>
    </div>
</header>
<!--  Contact Us-->

<section class="section_padding bg-light" id="talk_to_us">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Contact Form -->
                <h2>Send a message</h2>
                <form>
                    <div class="mb-1">
                        <input type="text" class="form-control" id="name" placeholder="Name"
                               required>
                    </div>
                    <div class="mb-1">
                        <input type="email" class="form-control" id="email"
                               placeholder="Email Address" required>
                    </div>
                    <div class="mb-1">
                        <input type="text" class="form-control" id="email" placeholder="Phone"
                               required>
                    </div>
                    <div class="mb-1">
                        <textarea class="form-control" id="message" rows="2" required
                                  placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>
<section class="contact-section bg-black section_padding">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">London,UK</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50"><a href="#">hello@fitnessfus.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2 text-white" href="#"><i class="fab fa-twitter"></i></a>
            <a class="mx-2 text-white" href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>
