<!DOCTYPE html>
<html lang="en">
<% include partials/header.ejs %>
<body id="page-top" class="inner_page">
<!-- Navigation-->
<% include partials/searchableNav.ejs %>
<!-- Masthead-->

<header class="inner_banner">
    <div class="container px-4 px-lg-5 d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="mx-auto my-0 text-uppercase text-white">Exercises </h2>
            </div>
        </div>
    </div>
</header>


<section class="section_padding bg-light" id="talk_to_us">
    <div class="container registration-container">
        <div class="row">
            <div class="col-md-6 registration-image">

            </div>
            <div class="col-md-6 registration-form">
                <!-- Registration Form -->
                <h2>Create an Exercise</h2>
                <form action="/exercise" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" required
                               placeholder="Exercise Name">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" rows="2" placeholder="Description"
                                      id="desc" name="description"></textarea>
                            <label for="floatingTextarea">Description</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <select name="category" class="form-select" aria-label="Default select example" required>
                            <option selected>Category</option>
                            <option value="Cardio">Cardio</option>
                            <option value="Strength Training">Strength Training</option>
                            <option value="Flexibility">Flexibility</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <label for="demo_links"></label><textarea class="form-control" rows="2" placeholder="Demo Links (comma-separated)"
                                                                      id="demo_links" name="demo_links"></textarea>
                            <label for="floatingTextarea">Demo Links</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<% include partials/footer.ejs %>

<!--Search Modal-->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search Fitness Fusion</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Search Form -->
                <form>
                    <div class="mb-3">
                        <label for="searchInput" class="form-label">Enter Your Fitness Goal</label>
                        <input type="text" class="form-control" id="searchInput"
                               placeholder="Eg. Biceps">
                    </div>
                    <!-- Add any additional form fields as needed -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Get Exercise Recommendation</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
