<!DOCTYPE html>
<html lang="en">
<% include partials/header.ejs %>
<body id="page-top">
<!-- Navigation-->
<% include partials/nav.ejs %>
<!-- Masthead-->

<header class="authentication">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="mx-auto my-0 text-uppercase text-white">Register </h2>
                <h4 class="text-white mx-auto mt-2 mb-5">
                    Sign Up To Get Started

                </h4>

            </div>
        </div>
    </div>
</header>
<!--  Contact Us-->

<section class="section_padding bg-light" id="talk_to_us">
    <div class="container registration-container">
        <div class="row">
            <div class="col-md-6 registration-image">
                <!-- Your Image Goes Here -->
            </div>
            <div class="col-md-6 registration-form">
                <!-- Registration Form -->
                <h2>Create an Account</h2>
                <% if (error) { %>
                    <div class="error-message"><%= error %></div>
                <% } %>
                <form action="/signup" method="post">

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="mb-1">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Register</button>
                    <a href="/login"> Login Here</a>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="contact-section bg-black section_padding">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">London,UK</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50"><a href="#">hello@fitnessfus.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2 text-white" href="#"><i class="fab fa-twitter"></i></a>
            <a class="mx-2 text-white" href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>


<!-- Footer-->
<% include partials/footer.ejs %>


</body>
</html>
