<!-- Footer-->
<footer class="footer bg-masthead small text-center text-white">
    <div class="container px-4 px-lg-5">Copyright &copy Fitness Fusion <span id="currentYear"></span> </div>
    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();

      // Update the content of the span with id "currentYear"
      document.getElementById('currentYear').textContent = currentYear;
    </script>

    <!-- Bootstrap core JS-->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--include jQuery-->

    <script src="/js/jquery-3.6.4.min.js"></script>
    <!-- Core custom JS-->
    <script src="/js/scripts.js"></script>

</footer>